@font-face {
	font-family: HelveticaNeueCyr, Bebas Neue;
	}

:root { 
	--primary-text-color--: #838E9D;
	--color-green--: #6BB755;

	--color-red--: #AE143E;
	--color-yellow--: #F6D265;
	--color-blue--: #43B4DE;
	--color-violet--: #6041BA;
	--color-text-darken--: #3F3F5B;
	--background-blur-gradient--: linear-gradient(90deg, rgba(43, 46, 61, 0.56) 0%, rgba(43, 46, 61, 0) 100%); 

	}

*,*::after, *::before {
	font-family: HelveticaNeueCyr, Bebas Neue;
	box-sizing: inherit;
	}


::-webkit-scrollbar { width: 0; }

body {
	background: #1B1B25; 
	margin: 0;
	}

div.main-container {
	display: flex; 
	margin: 0px 373px; 
	max-width: 1280px; 
	min-height: 180px; 
	flex-direction: column; 
	box-sizing: border-box;
	color: #D1D2D6; 
	}

div.main-container>div:not(:first-child) {
	margin-top: 20px;
	}

.text-bold {
	font-weight: bold;
	}



div.row-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	}

div.image {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	background-image: url('png/logo.png');
	background-repeat: no-repeat;
	background-size: cover;
	}

div.image-64 {
	max-width: 96px;
	height: 96px;
	}

div.horizontal-panel {
	display: flex;
	flex-direction: row;
	}

div.horizontal-panel>*:not(:last-child) {
	margin-right: 17px;
	}	

.tile {
	justify-content: space-between !important;
	}

div.icon-small {
	width: 24px; 
	height: 24px; 
	cursor: pointer;
	}

div.icon-small:not(:last-child) {
	margin-right: 20px;
	}


div.icon-panel, div.item-panel {
	display: flex; 
	align-items: center; 
	justify-content: space-between;
	}

div.element-panel {
	display: flex; 
	color: #D1D2D6; 
	align-items: center; 
	justify-content: space-around; 
	width: 100%; 
	font-family: HelveticaNeueCyr; 
	font-style: normal; 
	font-weight: normal;
	font-size: 19px;
	line-height: 28px;
	}

div.element-panel div.element {
	display: flex; 
	flex-direction: column;
	color: #D1D2D6;
	cursor: pointer;
	}			

.element-red:hover, .element-red.active  {
	font-family: HelveticaNeueCyr; 
	color: #AE143E !important;
	}		

div.button-border-box {
	margin-left: 20px;
	display: flex; 
	align-items: center; 
	justify-content: flex-end; 
	font-family: HelveticaNeueCyr; 
	font-style: normal; 
	font-weight: normal;
	}	

button {
	width: 135px; 
	height: 54px; 
	background: #272938; 
	border: none; 
	outline: none; 
	display: flex; 
	justify-content: space-around; 
	padding: 13px; 
	color: #D1D2D6; 
	font-family: HelveticaNeueCyr; 
	font-style: normal; 
	font-weight: normal; 
	border-radius: 4px; 
	font-size: 15px; 
	line-height: 24px; 
	box-sizing: border-box;
	align-items: center;
	cursor: pointer;
	}


div.line {
	height: 8px; 
	width: 100%; 
	margin: 0 auto; 
	box-sizing: border-box; 
	background: #1B1B25; 
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75); 
	border-radius: 4px; 
	margin-bottom: 20px;
	}

.rainbow-background {
	background: linear-gradient(90deg, #AE143E 0%, #6BB755 25%, #F6D265 50%, #43B4DE 75%, #6041BA 100%);
	}

	

small {
	font-family: HelveticaNeueCyr medium !important;
	font-size: 16px; 
	line-height: 24px;
	}

small.medium {
	font-size: 16px !important; 
	line-height: 24px !important;
	}

small.large {
	font-size: 24px !important; 
	line-height: 28px !important;
	}


.darken {
	color: #3F3F5B;
	}


.item-right {
	display: flex; 
	align-items: center; 
	text-align: right;  
	justify-content: flex-end;
	}

.item-left {
	display: flex; 
	align-items: baseline;
	text-align: left;  
	justify-content: flex-start;
	}

div.main-container:not(:last-child) {
	margin-bottom: 40px;
	}

div.slider-box {
	height: 578px;
	cursor: pointer;

	}


div.slider-box>div.large-content {
	padding-top: 115px;
	padding-left: 40px;
	padding-bottom: 115px; 
	height: 100%; 
	width: 100%; 
	display: flex; 
	flex-direction: column; 
	box-sizing: border-box;
	justify-content: space-between;
	color: #fff;
	word-wrap: break-word;
	}

.large-content>.title {
	font-family: Bebas Neue; 
	font-style: normal; 
	font-weight: bold;
	}

.text-medium {
	font-size: 24px;
	line-height: 28px;
	font-family: HelveticaNeueCyr medium;
	font-style: normal;
	font-weight: normal;
	}	


.text-small {
	font-size: 16px;
	line-height: 24px;
	font-family: HelveticaNeueCyr medium;
	font-style: normal;
	font-weight: normal;
	}

.text-extra-small {
	font-size: 14px; 
	font-family: HelveticaNeueCyr medium;
	line-height: 21px;
	}	

.large-content>.title.large {
	font-size: 48px; 
	line-height: 64px;
	}

.col-50 {
	max-width: 50%;
	}

.rounded {
	border-radius: 50%;
	}

.icon-large {
	width: 64px; 
	height: 64px; 
	}

.icon-large:not(:last-child) {
	margin-right: 20px;
	}

.pressed-element {
	border: 1px solid #fff;  
	background: #fff;
	}

.box {
	display: flex;
	}

.center {
	justify-content: center !important;
	}

.around {
	justify-content: space-around !important;
	}

.small-element {
	width: 10px; 
	height: 10px;
	border: 1px solid #fff; 
	background: #fff; 
	opacity: 0.56;
	}

.small-element:not(:last-child) {
	margin-right: 20px;
	}

.small-element.active {
	opacity: 1.0;
	}

.serving-element {
	position: absolute; 
	margin: 247px 0px 0px 924px !important;
	}

a {
	cursor: pointer;
	}

a.green {
	color: #6BB755 !important;
	}

a.blue {
	color: #43B4DE !important;
	}


a.green:hover {
	color: #437b33 !important;
	}

a.blue:hover {
	color: #2F99CA !important;
	}	


.indents>*:not(:last-child) {
	margin-right: 20px;
	}


a:-webkit-any-link { 
	text-decoration: none; 
	}

.card {
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	background: #2B2E3D; 
	box-shadow: -4px 4px 16px rgba(0, 0, 0, 1.0);
	}


.card.large {
	display: flex;
	width: 576px;
	height: 368px;
	}		

.card.medium {
	display: flex;
	width: 221px;
	height: 313px;
	}

img {
	border: none;
	}

hr {
	width: 100%;
	}


.icon-fl {
	filter: invert(1);
	}

.card-background {
	width: 100%; 
	filter: blur(3px) brightness(50%);
	}


.card.large>.card-content {
	position: absolute;
	display: flex; 
	justify-content: space-between; 
	box-sizing: border-box;
	padding: 20px;
	}

.card.medium>.card-content {
	display: flex; 
	flex-direction: column; 
	width: 100%; 
	justify-content: space-between;
	padding: 0 0 10px 0;	
	}

.card.medium>.card-content>div {
	padding: 9px;
	}

.card.medium>.card-content>div>.mark {		
	display: flex; 
	min-width: 32px; 
	height: 24px; 
	background: #fff; 
	border-radius: 40px; 
	font-size: 14px; 
	line-height: 24px; 
	align-items: center; 
	justify-content: center; 
	padding: 0 2px; 
	font-style: normal; 
	font-weight: 550;
	}

.card.medium>.card-content>div>.mark>div {
	color: #AE143E !important;
	}


.card.medium>.card-content>.text-description {
    background: linear-gradient(to right, rgba(43, 46, 61, 0.56) 0%, rgba(43, 46, 61, 0) 100%);
	padding: 9px; 
	font-size: 18px; 
	color: #fff; 
	font-style: normal; 
	font-family: HelveticaNeueCyr medium;
	}

.card.large>.card-content>.text-description {
	display: flex; 
	flex-direction: column; 
	width: 290px; 
	margin-left: 20px;
	}

.text-description>.title {
	font-weight: 550; 
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	font-family: HelveticaNeueCyr;
	font-style: normal;
	font-weight: bold;
	}	

.text-description>.description, .subtitle {
	font-family: HelveticaNeueCyr;
	font-style: normal;
	font-weight: 550;
	font-size: 15px;
	line-height: 21px;
	font-style: normal;
	display: flex;
	align-items: center;
	}

.subtitle {
	color: #fff; 
	}	

div.small-line {
	margin: 20px 0px 10px 0px; 
	background: rgba(196, 196, 196, 0.1); 
	width: 100%; 
	height: 3px;
	}


.text-description>div:not(:first-child)  {
	margin-top: 15px;
	}

.text-description>div>.avatar-image {
	border-radius: 4px;
	width: 48px;
	height: 48px;
	margin-right: 20px; 
	border: 0.5px solid #36394E;
	}

.items-center {
	align-items: center !important;
	}

.hov-blue:hover {
	color: #43B4DE !important;
	}

.hov-green:hover {
	color: #6BB755 !important;
	}	

.hov-blue, .hov-green {
	cursor: pointer;
	}



.card-box {
	width: 280px; 
	height: 280px;
	box-shadow: -4px 4px 16px rgba(0, 0, 0, 1.0);
	border-radius: 4px;
	}

.card-box>.mark {
	font-family: HelveticaNeueCyr;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 15px; 
	display: flex;
	align-items: center; 
	text-align: right; 
	padding: 17px 21px;
	}


.card-box>.mark>div {
	min-width: 54px;
	height: 31px;
	background: #68b655;    
	border-radius: 40px;
	display: flex;
	align-items: center;
	box-sizing: content-box;
	justify-content: center;
	}

.card-box>.description, .card-line-col.description {
	display: flex; 
	width: 100%; 
	padding: 21px; 
	box-sizing: border-box; 
	background: linear-gradient(90deg, rgba(43, 46, 61, 0.56) 0%, rgba(43, 46, 61, 0) 100%);
	}

.vertical-panel {
	display: flex; 
	flex-direction: column;
	font-size: 15px;
	line-height: 24px;
	}

.vertical-panel.list-form {
	height: 100%;
	width: 100%;	
	}

.list-form>.description, .card-line-col>.description {
	padding: 10px; 
	background: var(--background-blur-gradient--);
	}



.vertical-panel>*:not(:last-child) {
	margin-bottom: 10px;
	}


.grid-column {
	display: flex; 
	flex-direction: column;
	}

.grid-column:not(:last-child) {
	margin-right: 17px;
	}	

.grid-row {
	display: flex;
	}


.grid-row>.card-box:not(:last-child) {
	margin-right: 17px;
	}


.card-line-col {
	display: flex;
	flex-direction: column;
	width: 280px; 
	height: 578px;
	box-shadow: -4px 4px 16px rgba(0, 0, 0, 1.0);
	border-radius: 4px;
	}

.card-line-col.down, .card-box.down, .vertical-panel.down {
	justify-content: flex-end;
	}

.grid-column>.card-line-col:not(:last-child), .card-box:not(:last-child), .card-line-row:not(:last-child) {
	margin-bottom: 17px;
	}

.card-line-row {
	width: 578px; height: 280px;
	border-radius: 4px;
	}

.content {
	padding: 35px;
	}

.button {
	display: flex; width: 190px; height: 47px; outline: none; border: 2px solid #fff; align-items: center; justify-content: center; padding: 0;
	}

.footer {
	display: flex; flex-direction: column; background: #0B0C11; height: 800px; width: 100%;
	}

.list-title {
	font-family: HelveticaNeueCyr medium;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	display: flex;
	align-items: center;
    height: 36px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
	}

.list-title.border-red {
	border-bottom: 2px solid var(--color-red--);
	}
    

.footer-logo {
	display: flex;
	flex-direction: row;
	}
.list-info {
	background-color: #fff;
	}

.list-title.red {
	color: var(--color-red--);
	}

.list-title.green {
	color: var(--color-green--);
	}

.list-title.yellow {
	color: var(--color-yellow--);
	}

.list-title.blue {
	color: var(--color-blue--);
	}

.list-title.violet {
	color: var(--color-violet--);
	}


.origin-content {
	color: #000;
	font-size: 24px;
	line-height: 28px;
	font-family: HelveticaNeueCyr;
	font-style: normal;
	font-weight: 250;
	}

.origin-content>small {
	font-size: 11px;
	font-weight: 550;
	line-height: 24px;
	}		

.w-100 {
	width: 100%;
	}

.full-side {
	width: 100%;
	height: 100%;
	}

.c-2>* {
	width: 50%;
	}

